<!DOCTYPE html>
<html ng-app="app">
  
<head>
<!-- prevent sideways scrolling-->
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
<!--
<meta name="viewport" content="width=device-width, initial-scale=1">-->
<meta charset="utf-8">
<title><%= title %></title>


<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/app.css' />
<link rel="stylesheet" href="/css/animations.css">
<link rel="stylesheet" href="/css/responsive.css">
<link href="/css/one-page-wonder.css" rel="stylesheet">
<link  href="/css/deck-grid.css" rel="stylesheet"> <!-- 3 KB -->
<link  href="/css/responsive.css" rel="stylesheet"> <!-- 3 KB -->
<link  href="/css/normalize.css" rel="stylesheet"> <!-- 3 KB -->
<link  href="/css/angular-material.css" rel="stylesheet"> <!-- 3 KB -->
<link  href="/css/bootstrap.css" rel="stylesheet"> <!-- 3 KB -->
<link  href="/css/vis.css" rel="stylesheet"> <!-- 3 KB -->

<!-- Libraries -->
<script src="scripts/jquery/dist/jquery.js"></script>
<script src="scripts/jqueryui/jquery-ui.min.js"></script>
<script src="scripts/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<link  rel='stylesheet' src="scripts/jqueryui/jqueryui.min.css"></link>
<script src="scripts/angular/angular.js"></script>
<script src="scripts/angular-animate/angular-animate.js"></script>
<script src="scripts/angular-route/angular-route.js"></script>
<script src="scripts/angular-resource/angular-resource.js"></script>
<script src="scripts/angular-utils-pagination/dirPagination.js"></script>
<script src="scripts/angular-aria/angular-aria.min.js"></script>
<script src="scripts/ng-scrollbar/dist/ng-scrollbar.min.js"></script>
<script src="scripts/angular-material/angular-material.js"></script>
<script src="scripts/angular-sanitize/angular-sanitize.min.js"></script>
<script src="scripts/angulargrid/angulargrid.min.js"></script>
<script src="scripts/underscore/underscore.js"></script>
<script src="scripts/api-check/dist/api-check.min.js"></script>
<script src="scripts/angular-formly/dist/formly.min.js"></script>
<link rel="stylesheet" href="scripts/bootstrap-daterangepicker/daterangepicker.css"/>
<script src="scripts/bootstrap-daterangepicker/moment.min.js"></script>
<script src="scripts/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="lib/angular-daterangepicker.js"></script>
<script src="lib/md5.js"></script>
<!--DEV charts-->

<script src="scripts/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="scripts/chart.js/dist/Chart.js"></script>
<script src="lib/angular-chart.js"></script>

<!--vis-->
<script src="scripts/sweetalert/dist/sweetalert.min.js"></script>
<script src="lib/sweetalert.multi.js"></script>
<link  rel='stylesheet' src="scripts/sweetalert/dist/sweetalert.css"></link>
<script src="scripts/vis/dist/vis.js"></script>

<link  href="scripts/sweetalert/dist/sweetalert.css" rel="stylesheet"> <!-- 3 KB -->
<script src="scripts/angular-dragdrop/src/angular-dragdrop.min.js"></script>

<script src="scripts/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
</head>

<body drag-scroll="enabled" ng-app="animateApp">  




<!--trello api-->
<script src="https://api.trello.com/1/client.js?key=678582ba5f01c5833a7bcb673c8cffe9"></script>


<script src="js/core.js"></script>
<script src="js/services/app-services.js"></script>
<script src="js/services/downtime-services.js"></script>
<script src="js/services/timeline-services.js"></script>
<script src="js/services/timeline-leave-services.js"></script>
<script src="js/services/feedback-services.js"></script>
<script src="js/services/peoplecounter-services.js"></script>
<script src="js/controllers/app-controllers.js"></script>
<script src="js/controllers/dashboard-controller.js"></script>
<script src="js/controllers/feedback-controller.js"></script>
<script src="js/controllers/downtime-controller.js"></script>
<script src="js/controllers/dead-controller.js"></script>
<script src="js/controllers/form-controller.js"></script>
<script src="js/controllers/timeline-controller.js"></script>
<script src="js/controllers/peoplecounter-controller.js"></script>

<script src="js/routes/app-routes.js"></script>


<div  class="view-container">
<div   ng-click="screensaverOff()"  autoscroll="true" class="page {{ pageClass }}" ng-view>
</div>	
</div>

</body>

</html>
